[Unit]
Description=Home Assistant Pi
Wants=network-online.target
After=multi-user.target network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/home-assistant-pi/home-assistant-pi.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
